*{
    margin: 0;
    padding:0;
    
}
.content{
width: 100%;
height:100vh;
background-image: url(“Africa\ Needs\ Saving”—or\ is\ it\ the\ Other\ Way….jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.banner{
    position: relative;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.logo{
    width: 70%;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    

}

nav a:hover{
    color:rgb(255, 255, 255)
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column ;
    color: beige;
    justify-content: center;
    align-items: center;
}

.content button{
    
    background-color: blue ;
    padding: 10px;
    width: 15%;
    text-transform: capitalize;
    border: none;
    font-size: 15px;
    color: beige;
    cursor: pointer;
}
.home-container{
    background: #000000a1;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.home-container p{
    width: 50%;
}

footer{
     display: flex;
     justify-content: center;
     height: 90px;
     text-align: center;
     align-items: center;
     background-color: blue;
     color: white;
}










